.abby1:hover{
    -ms-transform: scale(1.2); 
   -webkit-transform: scale(1.2); 
   transform: scale(1.2); 
 }
 
 .abby2:hover{
    -ms-transform: scale(1.2); 
   -webkit-transform: scale(1.2); 
   transform: scale(1.2); 
 }
 .abby3:hover{
    -ms-transform: scale(1.2); 
   -webkit-transform: scale(1.2); 
   transform: scale(1.2); 
 }
 .abby4:hover{
    -ms-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   transform: scale(1.2); 
 }
 
 .cd1:hover{
    -ms-transform: scale(1.1); 
   -webkit-transform: scale(1.1); 
   transform: scale(1.1); 
 }
 
 .cd2:hover{
    -ms-transform: scale(1.1); 
   -webkit-transform: scale(1.1); 
   transform: scale(1.1); 
 }
 
 .cd3:hover{
    -ms-transform: scale(1.1); 
   -webkit-transform: scale(1.1); 
   transform: scale(1.1); 
 }

 .port1{
   transform: 0.3s ease-in-out;
 }

 .card{
   transition: transform 0.3s ease-in-out;
 }

 @media (max-width: 390px){
   #footer .cont{
    text-align: center;
   }
   
}
.btn {
   padding: 15px 25px;
   border: unset;
   border-radius: 15px;
   color: #212121;
   z-index: 1;
   background: #e8e8e8;
   position: relative;
   font-weight: 1000;
   font-size: 17px;
   -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
   box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
   transition: all 250ms;
   overflow: hidden;
  }
  
  .btn::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 0;
  
   background-color: black;
   z-index: -1;
   -webkit-box-shadow: 4px 8px 19px -3px white;
   box-shadow: 4px 8px 19px -3px white;
   transition: all 250ms
  }
  
  .btn:hover {
   color: #e8e8e8;
  }
  
 .btn:hover::before {
   width: 100%;
  }







.fab:hover {
   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(255,255,255,0.7),
          -0.5px -0.5px 0px rgba(255,255,255,1),
          0.5px 0.5px 0px rgba(0,0,0,0.15),
          0px 12px 10px -10px rgba(0,0,0,0.05);
   border: 1px solid rgba(0,0,0,0.1);
   transform: translateY(0.5em);
 }
 
 .fab {
   transition: transform 0.5s;
 }
 
 .fab:hover{
   transform: scale(0.9);
   fill: #333333;
 }


 .collapse{
  padding-left: 6rem;
 }
 
@media (min-width: 820px){
   #services .col-md-12 .col-sm-12{
      width: 100%;
   }
}

@media (min-width: 1024px){
   .navbar{
      text-align: center;
   }
  
}

.home::before{
  margin-left: auto;
}

.home::after, .home::before {
   content: '';
   width: 0%;
   height: 2px;
   background: darkcyan;
   display: block;
   transition: 0.5s;
 }
 
 .home:hover::after, .home:hover::before {
   width: 100%;
 }


 .port::before{
   margin-left: auto;
 }
 
 .port::after, .port::before {
    content: '';
    width: 0%;
    height: 2px;
    background: darkcyan;
    display: block;
    transition: 0.5s;
  }
  
  .port:hover::after, .port:hover::before {
    width: 100%;
  }

  .serv::before{
   margin-left: auto;
 }
 
 .serv::after, .serv::before {
    content: '';
    width: 0%;
    height: 2px;
    background: darkcyan;
    display: block;
    transition: 0.5s;
  }
  
  .serv:hover::after, .serv:hover::before {
    width: 100%;
  }

  .abt::before{
   margin-left: auto;
 }
 
 .abt::after, .abt::before {
    content: '';
    width: 0%;
    height: 2px;
    background: darkcyan;
    display: block;
    transition: 0.5s;
  }
  
  .abt:hover::after, .abt:hover::before {
    width: 100%;
  }
