.abby1:hover{
    -ms-transform: scale(1.2); /* IE 9 */
   -webkit-transform: scale(1.2); /* Safari 3-8 */
   transform: scale(1.2); 
 }
 
 .abby2:hover{
    -ms-transform: scale(1.2); /* IE 9 */
   -webkit-transform: scale(1.2); /* Safari 3-8 */
   transform: scale(1.2); 
 }
 .abby3:hover{
    -ms-transform: scale(1.2); /* IE 9 */
   -webkit-transform: scale(1.2); /* Safari 3-8 */
   transform: scale(1.2); 
 }
 .abby4:hover{
    -ms-transform: scale(1.2); /* IE 9 */
   -webkit-transform: scale(1.2); /* Safari 3-8 */
   transform: scale(1.2); 
 }
 .cd1:hover{
    -ms-transform: scale(1.1); /* IE 9 */
   -webkit-transform: scale(1.1); /* Safari 3-8 */
   transform: scale(1.1); 
 }
 
 .cd2:hover{
    -ms-transform: scale(1.1); /* IE 9 */
   -webkit-transform: scale(1.1); /* Safari 3-8 */
   transform: scale(1.1); 
 }
 
 .cd3:hover{
    -ms-transform: scale(1.1); /* IE 9 */
   -webkit-transform: scale(1.1); /* Safari 3-8 */
   transform: scale(1.1); 
 }

 @media (max-width: 390px){
   #footer .cont{
    text-align: center;
   }
   
}

@media (max-width: 768px){
   .cert1{
      margin-left: 7rem;
   }
   .cert3{
      margin-left: 7rem;
   }
   
}

@media (max-width: 820px){
   .cert1{
      margin-left: 7rem;
   }
   .cert2{
      margin-left: 7rem;
   }
   .cert3{
      margin-left: 7rem;
   }
   .cert4{
      margin-left: 7rem;
   }
}
@media (max-width: 1024px){
   .cert1{
      margin-left: 14rem;
   }
   .cert2{
      margin-left: 14rem;
   }
   .cert3{
      margin-left: 14rem;
   }
   .cert4{
      margin-left: 14rem;
   }
}
