body {
   background-color: D2E3C8;
}
.mike{
   width: 45rem;
   height: auto;
}
.richard{
   width: 45rem;
   height: auto;
}
.jermin{
   width: 45rem;
   height: auto;

}
.jerico{
   width: 45rem;
   height: auto;
}
.txt1{
   font-family:Georgia, 'Times New Roman', Times, serif
}
.ogol{
   width: 3rem;
   height: 3rem;
   
}
.hm{
   font-family:Arial, Helvetica, sans-serif
}
.port{
   font-family: Arial, Helvetica, sans-serif;
}
.serv{
   font-family: Arial, Helvetica, sans-serif;
}
.abt{
   font-family: Arial, Helvetica, sans-serif;
}
.tac{
   font-family: Arial, Helvetica, sans-serif;
}
.txt2{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.txt3{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.p1{
   font-family:serif; font-size: larger;
}
.p1-1{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.p2{
   font-family: serif; font-size: larger;
}
.p2-2{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.p3{
   font-family: serif; font-size: larger;
}
.p3-3{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.p4{
   font-family: serif; font-size: larger;
}
.p4-4{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.carousel-control-prev-icon{
   height: 100px;
   width: 100px;
   outline: black;
   background-color: black;
   background-size: 100%, 100%;
   border-radius: 50%;
   border: 1px solid black;
}
.carousel-control-next-icon{
   height: 100px;
   width: 100px;
   outline: black;
   background-color: black;
   background-size: 100%, 100%;
   border-radius: 50%;
   border: 1px solid black;
}

.abt2{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: large;
}
.shane{
   width: 20rem;
   height: 20rem;
}
.quote{
   font-size: large;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.abby1:hover{
   -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.abby2:hover{
   -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.abby3:hover{
   -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.abby4:hover{
   -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.cd1:hover{
   -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.cd2:hover{
   -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.cd3:hover{
   -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

@media (max-width: 768px){
   #certificates{
      text-align: center;
   }
}



   


